In [2]:
import pandas as pd

In [23]:
#method 1
lp_path="./graph_dataset/dblp_1980/pykeen/top_100000_final.csv"
lp_file=pd.read_csv(lp_path)
lp_file=lp_file.reindex(columns=["head_label","relation_label","tail_label","label_id:int_x","label_id:int_y"])
lp_group=lp_file.groupby(["label_id:int_x","relation_label","label_id:int_y"])
for name,group in lp_group:
    group.to_csv("./graph_dataset/dblp_1980/pykeen/top_100000_group/"+str(name).replace(' ','')+".csv",index=None)

In [19]:
#method2
origin_e_path="./graph_dataset/dblp_1980/dblp_e.csv"
origin_v_path="./graph_dataset/dblp_1980/dblp_v_new.csv"
lp_file_path="./graph_dataset/dblp_1980/pykeen/top_100000_group/(2,1002,6).csv"

In [20]:
origin_e=pd.read_csv(origin_e_path)
origin_v=pd.read_csv(origin_v_path)
lp_file=pd.read_csv(lp_file_path)

In [30]:
vertices_list=lp_file["head_label"].to_list()+lp_file["tail_label"].to_list()
vertices_set=set(vertices_list)
lp=pd.DataFrame(vertices_list,columns=["vertex_id:int"])
lp_v=pd.merge(lp,origin_v,on="vertex_id:int")
lp_file.rename(columns="head_label":)

       head_label  relation_label  tail_label  label_id:int_x  label_id:int_y
0           34866            1002       93649               2               6
1           24154            1002       93649               2               6
2           12923            1002       93649               2               6
3           20401            1002       93649               2               6
4           77583            1002       93649               2               6
...           ...             ...         ...             ...             ...
24060       72155            1002       95260               2               6
24061       28285            1002      153076               2               6
24062       61249            1002      133214               2               6
24063        6786            1002      152106               2               6
24064       11168            1002      131268               2               6

[24065 rows x 5 columns]